@charset "UTF-8";

html {
    /* すべてのブラウザで行の高さを修正する */
    line-height: 1.15; 
    /* iOS で方向を変更した後のフォントサイズの調整を防止する */
    -webkit-text-size-adjust: 100%; 
}

body {
    /* すべてのブラウザでマージンを削除する */
    margin: 0;
}

main {
    /* IE で一貫して「main」要素をレンダリングする */
    display: block;
}

h1 {
    /* Chrome、Firefox、Safari の `section` および `article` コンテキスト内の
     * `h1` 要素のフォント サイズとマージンを修正します。                         */
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    /* Firefox に正しいボックスサイズを追加する */
    -webkit-box-sizing: content-box;
    box-sizing: content-box; 
    height: 0;
    /* Edge と IE でオーバーフローを表示する */
    overflow: visible;
}

pre, code, kbd, samp {
    /* すべてのブラウザでフォントサイズの継承とスケーリングを修正 */
    font-family: monospace, monospace; 
    /* すべてのブラウザで奇妙な「em」フォント サイズを修正 */
    font-size: 1em; 
}

a {
    /* IE 10 でアクティブなリンクの灰色の背景を削除 */
    background-color: transparent;
}

abbr[title] {
    /* Chrome 57 で下の境界線を削除 */
    border-bottom: none; 
    /* Chrome、Edge、IE、Opera、Safari に正しいテキスト装飾を追加 */
    text-decoration: underline; 
    -webkit-text-decoration: underline dotted;
       -moz-text-decoration: underline dotted;
            text-decoration: underline dotted; /* 2 */
}


b, strong {
    /* Chrome、Edge、Safari に正しいフォントの太さを追加 */
    font-weight: bolder;
}

small {
    /* すべてのブラウザに正しいフォント サイズを追加する */
    font-size: 80%;
}

/* すべてのブラウザで `sub` 要素と `sup` 要素が行の高さに影響を与えないようにする */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}
  
  sup {
    top: -0.5em;
}

/* IE 10 でリンク内の画像の境界線を削除する */
img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    /* すべてのブラウザのフォント スタイルを変更する */
    font-family: inherit; 
    font-size: 100%;
    line-height: 1.15;
    /* Firefox と Safari の余白を削除する */
    margin: 0;
}

/* Edge でオーバーフローを表示 */
button,
input { /* 1 */
    overflow: visible;
}

/* Firefox でのテキスト変換の継承を削除 */
button,
select { /* 1 */
    text-transform: none;
}

/* iOS および Safari でクリック可能なタイプのスタイルを設定できない問題を修正 */
button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

/* Firefox で内側の境界線とパディングを削除 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/* 以前のルールによって設定解除されたフォーカス スタイルを復元します。 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/* Firefox のパディングを修正 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    /* EdgeとIEのテキストの折り返しを修正 */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: table;
    max-width: 100%;
    white-space: normal;
    /* IE の `fieldset` 要素からの色の継承を修正 */
    color: inherit;
    /* パディングを削除して、開発者がすべてのブラウザで「fieldset」要素をゼロにするときにバレないようにする */
    padding: 0;
}

/* Chrome、Firefox、Opera に正しい垂直方向の配置を追加する */
progress {
    vertical-align: baseline;
}

/* IE 10以降のデフォルトの垂直スクロールバーを削除 */
textarea {
    overflow: auto;
}

[type=checkbox],
[type=radio] {
    /* IE 10 に正しいボックス サイズを追加 */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* IE 10 でパディングを削除 */
    padding: 0;
}

/* Chrome の増分ボタンと減分ボタンのカーソル スタイルを修正 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    /* Chrome と Safari での奇妙な表示を修正 */
    -webkit-appearance: textfield;
    /* Safariのアウトラインスタイルを修正 */
    outline-offset: -2px;
}

/* macOS 上の Chrome および Safari で内部パディングを削除 */
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}



::-webkit-file-upload-button {
    /* iOS および Safari でクリック可能なタイプのスタイルを設定できない問題を修正 */
    -webkit-appearance: button;
    /* Safari でフォントのプロパティを「継承」に変更 */
    font: inherit;
}

/* Edge、IE 10 以降、Firefox に正しい表示を追加 */
details {
    display: block;
}

/* すべてのブラウザに正しい表示を追加 */
template {
    display: none;
}

/* IE 10に正しい表示を追加 */
[hidden] {
    display: none;
}
  
*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
  
button,
input,
optgroup,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

i {
    line-height: inherit;
}

table, th, td {
    border: none;
}
  
table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.3;
}
  
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}
  
h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}
  
h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
}
  
h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
}
  
h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 0.912rem 0;
}
  
h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 0.656rem 0;
}
  
h6 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: 0.7666666667rem 0 0.46rem 0;
}
  
em {
    font-style: italic;
}
  
strong {
    font-weight: 500;
}
  
small {
    font-size: 75%;
}

textarea {
    width: 100%;
    height: 3rem;
    background-color: transparent;
}

label {
    font-size: 0.8rem;
}

select {
    opacity: 0;
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    height: 3rem;
  }

[type=radio]:not(:checked),
[type=radio]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type=radio]:not(:checked) + span,
[type=radio]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

[type=radio] + span:before,
[type=radio] + span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
}

[type=radio]:not(:checked) + span:before,
[type=radio]:not(:checked) + span:after,
[type=radio]:checked + span:before,
[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:before,
[type=radio].with-gap:checked + span:after {
  border-radius: 50%;
}

[type=radio]:not(:checked) + span:after {
    -webkit-transform: scale(0);
            transform: scale(0);
}

[type=radio]:checked + span:before {
    border: 2px solid transparent;
}

[type=radio]:checked + span:after {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
}

[type=radio].with-gap:checked + span:after {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

input:not([type]),
input[type=text],
input[type=password]
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=tel],
input[type=number],
input[type=search] {
  outline: none;
  width: 100%;
  font-size: 16px;
  height: 56px;
}

input[type=range] {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin: 15px 0;
    padding: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    -webkit-appearance: none;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    margin: -5px 0 0 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    height: 3px;
    border: none;
}

input[type=range]::-moz-focus-inner {
    border: 0;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    margin-top: -5px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  }

input[type=range]:-moz-focusring {
    outline: 1px solid #fff;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    height: 3px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}
