/* -------------------------------------------------------------------------
 *    汎用カラー CSS  
 * ------------------------------------------------------------------------- 
 * start +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
:root, :host {
  --surface-color: #f3f6fc;
  --background-color: #ffffff;
  --font-color-main: rgba(0, 0, 0, 0.87);
  --font-color-medium: rgba(0, 0, 0, 0.56);
  --font-color-disabled: rgba(0, 0, 0, 0.38);
  --font-on-primary-color-main: rgba(255, 255, 255, 0.87);
  --font-on-primary-color-dark-main: rgba(255, 255, 255, 0.87);
  --font-on-primary-color-dark-medium: rgba(255, 255, 255, 0.60);
  --font-on-primary-color-medium: rgba(255, 255, 255, 0.60);
  --font-on-primary-color-disabled: rgba(255, 255, 255, 0.38);
  --font-on-secondary-color-main: rgba(0, 0, 0, 0.87);
  --hover-color: rgba(0, 0, 0, 0.04);
  --focus-color: rgba(0, 0, 0, 0.12);
  --focus-color-solid: #E0E0E0;
  --background-color-disabled: rgba(0, 0, 0, 0.12);
  --background-color-level-4dp: rgba(0, 0, 0, 0.09);
  --background-color-level-16dp-solid: var(--surface-color);
  --background-color-slight-emphasis: rgba(0, 0, 0, 0.025); /* stripes in table */
  --background-color-card: var(--surface-color);
  --tooltip-background-color: #313033;
  --tooltip-font-color: rgba(255, 255, 255, 0.77);
  --separator-color: #DDDDDD; /* borders between components */
  --error-color: #F44336;
  --slider-track-color: rgba(0, 0, 0, 0.26);
  --switch-thumb-off-color: #ffffff;
  --carousel-indicator-color: rgba(255, 255, 255, 0.45);
  --carousel-indicator-active-color: #FFF;
  --primary-color: #26a69a;
  --primary-color-dark: #009688;
  --primary-color-numeric: 38, 166, 154;
  --primary-color-raised-hover-solid: #30B0A4;
  --primary-color-raised-focus-solid: #44C4B8;
  --primary-color-font-medium-color: rgba(var(--primary-color-numeric), 0.7);
  --primary-color-font-disabled-color: rgba(var(--primary-color-numeric), 0.4);
  --primary-color-hover-opaque: rgba(var(--primary-color-numeric), 0.06);
  --primary-color-focus-opaque: rgba(var(--primary-color-numeric), 0.18);
  --secondary-color: #EF5350;
  --secondary-color-hover-solid: #FE625F;
  --secondary-color-focus-solid: #FF7B78;
  --md_sys_color_on-surface: 28, 27, 31;
}

:root[theme=dark], :host[theme=dark] {
  --background-color: #121212;
  --surface-color: #242424;
  --font-color-main: rgba(255, 255, 255, 0.87);
  --font-color-medium: rgba(255, 255, 255, 0.60);
  --font-color-disabled: rgba(255, 255, 255, 0.38);
  --font-on-primary-color-main: rgba(0, 0, 0, 0.87);
  --font-on-primary-color-dark-main: rgba(255, 255, 255, 0.87);
  --font-on-primary-color-dark-medium: rgba(255, 255, 255, 0.60);
  --font-on-primary-color-medium: rgba(0, 0, 0, 0.56);
  --font-on-primary-color-disabled: rgba(0, 0, 0, 0.38);
  --hover-color: rgba(255, 255, 255, 0.04);
  --focus-color: rgba(255, 255, 255, 0.12);
  --focus-color-solid: #424242;
  --background-color-disabled: rgba(255, 255, 255, 0.12);
  --background-color-level-4dp: rgba(255, 255, 255, 0.09);
  --background-color-level-16dp-solid: #262626;
  --background-color-card: var(--surface-color);
  --background-color-slight-emphasis: rgba(255, 255, 255, 0.05);
  --separator-color: #424242; /* borders between components */
  --error-color: #CF6679;
  --slider-track-color: rgba(255, 255, 255, 0.26);
  --switch-thumb-off-color: #bababa;
  --primary-color: #B39DDB;
  --primary-color-dark: #9575CD;
  --primary-color-numeric: 179, 157, 219;
  --primary-color-raised-hover-solid: #C2ACEA;
  --primary-color-raised-focus-solid: #DBC5FF;
  --secondary-color: #CDDC39;
  --secondary-color-hover-solid: #DCEB48;
  --secondary-color-focus-solid: #F5FF61;
  --md_sys_color_on-surface: 230, 225, 229;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Serif JP",'Capriola',"Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  background-color: var(--background-color);
}

select:focus {
  outline: 1px solid var(--primary-color-raised-focus-solid);
}

button:focus {
  outline: none;
  background-color: var(--primary-color-raised-focus-solid);
}

label {
  color: var(--font-color-medium);
}

::-webkit-input-placeholder {
  color: var(--font-color-medium);
}
::-moz-placeholder {
  color: var(--font-color-medium);
}
::-ms-input-placeholder {
  color: var(--font-color-medium);
}
::placeholder {
  color: var(--font-color-medium);
}

input:not([type]):not(.browser-default),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=month]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  color: var(--font-color-main);
}

[type=radio]:not(:checked) + span:before,
[type=radio]:not(:checked) + span:after {
  border: 2px solid var(--font-color-medium);
}

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:before,
[type=radio].with-gap:checked + span:after {
  border: 2px solid var(--primary-color);
}

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:after {
  background-color: var(--primary-color);
}

[type=radio].tabbed:focus + span:before {
  -webkit-box-shadow: 0 0 0 10px var(--primary-color-focus-opaque);
          box-shadow: 0 0 0 10px var(--primary-color-focus-opaque);
}

[type=radio].with-gap:disabled:checked + span:before {
  border: 2px solid var(--font-color-disabled);
}

[type=radio].with-gap:disabled:checked + span:after {
  border: none;
  background-color: var(--font-color-disabled);
}

[type=radio]:disabled:not(:checked) + span:before,
[type=radio]:disabled:checked + span:before {
  background-color: transparent;
  border-color: var(--font-color-disabled);
}

[type=radio]:disabled + span {
  color: var(--font-color-disabled);
}

[type=radio]:disabled:not(:checked) + span:before {
  border-color: var(--font-color-disabled);
}

[type=radio]:disabled:checked + span:after {
  background-color: var(--font-color-disabled);
  border-color: var(--font-color-disabled);
}

[type=checkbox] + span:not(.lever):before, [type=checkbox]:not(.filled-in) + span:not(.lever):after {
  border: 2px solid var(--font-color-medium);
}

[type=checkbox]:checked:disabled + span:before {
  border-right: 2px solid var(--font-color-disabled);
  border-bottom: 2px solid var(--font-color-disabled);
}

select {
  background-color: var(--surface-color);
  border: 1px solid var(--separator-color);
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--slider-track-color);
}

input[type=range]::-webkit-slider-thumb {
  background: var(--primary-color);
  background-color: var(--primary-color);
}

input[type=range]::-moz-range-track {
  background: var(--slider-track-color);
}

input[type=range]::-moz-range-thumb {
  background: var(--primary-color);
}

input[type=range]::-ms-fill-lower,
input[type=range]::-moz-range-progress {
  background: var(--primary-color);
}

input[type=range]::-ms-fill-upper,
input[type=range]::-moz-range-track {
  background: var(--slider-track-color);
}

input[type=range]::-ms-thumb {
  background: var(--primary-color);
}

/* end +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
 * -------------------------------------------------------------------------
 *   SASS構造CSS
 * -------------------------------------------------------------------------
 * start +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

 .navbar-fixed {
  position: relative;
  height: 100px;
  z-index: 992;
}

.navbar-fixed nav {
  position: fixed;
  right: 0;
  color: var(--font-on-primary-color-main);
  background-color: var(--primary-color);
  width: 100%;
  height: 100px;
  line-height: 100px;
  top: 0;
  transition: 0.4s;
}

.nav-wrapper {
  min-height: 100px;
  position: relative;
  height: 100%;
}

nav .brand-logo {
  position: absolute;
  color: var(--font-on-primary-color-main);
  display: inline-block;
  padding: 0;
  margin: 0;
  max-height: 100px;
}

nav .brand-logo img {
  max-height: 100px;
}

nav .sidenav-trigger {
  display: block;
  height: 60px;
  position: relative;
  z-index: 995;
  float: right;
  padding: 0 50px 0 0;
  border: none;
  background-color: transparent;
}
.sidenav-trigger.-active .sidenav-trigger-line {
  background-color: transparent;
}
.sidenav-trigger.-active .sidenav-trigger-line::before {
  top: 0;
  transform: rotate(45deg);
}
.sidenav-trigger.-active .sidenav-trigger-line::after {
  top: 0;
  transform: rotate(-45deg);
}
.sidenav-trigger.-active .sidenav-trigger-text::before {
content: '閉じる';
}
.sidenav-trigger-line {
  display: block;
  height: 2px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  background-color: var(--font-on-primary-color-main);
  transition: 0.4s;
}
.sidenav-trigger-line:before,
.sidenav-trigger-line:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: var(--font-on-primary-color-main);
  transition: inherit;
}
.sidenav-trigger-line:before {
  top: -6px;
}
.sidenav-trigger-line:after {
  top: 6px;
}
.sidenav-trigger-text {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.sidenav-trigger-text::before {
  content: "メニュー";
  text-align: center;
  color: var(--font-on-primary-color-main);
  font-size: 10px;
  font-weight: 900;
}

.right {
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul li {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  float: left;
  padding: 0;
  max-height: 100px;
}

nav ul a {
  display: inline-block;
  float: none;
  margin-left: 4px;
  line-height: 22px;
  height: 22px;
  -webkit-font-smoothing: auto;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 1rem;
  color: var(--font-on-primary-color-main);
  padding: 0 15px;
  cursor: pointer;
}

nav ul a:hover {
  background-color: var(--primary-color-raised-hover-solid);
}

nav a {
  color: var(--font-on-primary-color-main);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-list {
  position: absolute;
  opacity: 1;
  visibility: hidden;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2 ease-in-out 0s;
  transition: all 0.2 ease-in-out 0s;
  overflow: hidden;
}
.dropdown-list li {
  width: 100%;
  line-height: 100px;
  text-align: center;
  background-color: var(--primary-color);
}
.dropdown-list li:hover {
  background-color: var(--primary-color-raised-hover-solid);
}

.dropdown:hover .dropdown-list {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.sidenav-area {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 990;
  height: 100vh;
  width: 250px;
  visibility: hidden;
  padding-top: 100px;
  background-color: var(--primary-color);
  transition: 0.4s;
}
.sidenav-area.-active {
  right: 0;
  visibility: visible;
}
.sidenav {
  padding-top: 40px;
  padding-right: 25px;
  padding-bottom: 120px;
  padding-left: 25px;
}
.sidenav-list > li {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--font-on-primary-color-main);
}

.sidenav-list > li + li {
  margin-top: 20px;
}
.sidenav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-on-primary-color-main);
  font-weight: 900;
  transition: color 0.4s;
  font-size: 0.875rem;
}
.sidenav-link.-accordion {
  position: relative;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  padding: 0 15px;
  width: 100%;
}
.sidenav-link.-accordion::after {
  content: '';
  display: block;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 2px;
  background-color: var(--secondary-color);
  transform: translateY(-50%);
  transition: transform 0.4s;
}
.sidenav-link.-accordion::before {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  background-color: var(--secondary-color);
  transform: translateY(-50%);
  
}
.sidenav-link.-active::after {
transform: translateY(-50%) rotate(-90deg);
}
.accordion {
  height: 0;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  transition: 0.4s;
}
.accordion.-active {
  height: auto;
  padding-top: 30px;
  visibility: visible;
}

.sidenav-accordion-list li {
  width: 100%;
  font-size: 0.75rem;
  position: relative;
}

.sidenav-accordion-list li + li {
   margin-top: 21px;
}
.sidenav-accordion-link {
  width: 100%;
  color: var(--font-on-primary-color-main);
}


@media only screen and (min-width : 1281px ) {
  nav .sidenav-trigger {
    display: none;
  }
}

@media only screen and (max-width : 1280.01px ) {
  .hide-on-med-and-down {
    display: none;
  }
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (max-width : 576px ) {
  nav .brand-logo {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100px;
  }
  nav .brand-logo img {
    width: 100%;
  }
}




.slider .slides li .caption {
  font-family: 'Capriola';
  text-shadow:
     1px  1px 0 #000, -1px -1px 0 #000,
    -1px  1px 0 #000,  1px -1px 0 #000,
     0px  1px 0 #000, -1px    0 0 #000,
    -1px    0 0 #000,  1px    0 0 #000;
}
.slider .slides li .left-align {
  top: 5%;
  left: 5%;
}
.slider .slides li .right-align {
  top: 5%;
  right: 5%;
}

.slider .slides li h3{
  font-size: 4rem;
}

.prev i{
  color: #fff;
  font-size: 2vw;
  height: 700px;
  line-height: 700px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  text-align: center;
  width: 8vw;
  left: 0;
  z-index: 980;
}
.next i{
  color: #fff;
  font-size: 2vw;
  height: 700px;
  line-height: 700px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  text-align: center;
  width: 8vw;
  right: 0;
  z-index: 980;
}

main {
  padding-bottom: 180px;
}

.info-block {
  width: 100%;
  min-height: 300px;
}

.information {
  position: relative;
  border: 3px dashed var(--primary-color);

  margin: 30px 30px;
  padding-top: 10px;
}

.information h5 {
  position: absolute;
  border: 3px solid var(--secondary-color);
  background-color: var(--background-color);
  top: -30px;
  left: -30px;
}
.information ul li {
  font-size: 16px;
  margin: 5px 0;
}


.what-block {
  width: 100%;
  /* min-height: 500px; */
}
.what-title {
  width: 100%;
  min-height: 100px;
  position: relative;
}
.what-title h4 {
  text-align: center;
  position: relative;
  font-size: 3.5rem;
}
.what-title-flex {
  display: flex;
  margin: 3rem 0 20rem 0;
}
.what-title-flex img:nth-of-type(1) {
  width: 75%;
  height: 75%;
  position: relative;
  left: 10%;
}
.what-title-flex img:nth-of-type(2) {
  width: 30%;
  height: 30%;
  position: absolute;
  margin: 0 3rem;
  right: 20%;
}

.what-is ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.what-is ul li div {
  width: 50%;
  border: 3px solid var(--separator-color);
  min-height: 200px;
}
.what-is ul li img {
  width: 50%;
  border: 3px solid var(--separator-color);
  min-height: 200px;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.how-block {
  width: 100%;
  min-height: 500px;
}

.where-block {
  width: 100%;
  min-height: 500px;
}

/* footer */
.footer-absolute {
  bottom: 0;
  width: 100%;
  /* display: flex; */
  /* background-repeat: no-repeat; */
  /* background-blend-mode: overlay; */
  /* background-image: url(../IMG/relax.jpg); */
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-blend-mode: exclusion; */
}
/* ページトップボタン */
.pagetop{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 40px;
  background: var(--secondary-color);
  opacity: 0.6;
  border-radius: 50%;
}
.pagetop a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.pagetop a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: var(--font-on-primary-color-main);
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.page-footer .container {
  min-height: 100px;
  position: relative;
  width: 90%;
}
.footer_left {
  width: 35%;
  float: left;
}
.footer_left h5{
  margin: 0;
}

.sns {
  display: flex;
}
.sns a {
  display: flex;
  font-size: 2em;
  margin-right: 30px;
}

.footer__line{
  border-bottom: 3px solid var(--font-on-primary-color-main);
}

.footer_right {
  display: inline-block;
  width: 65%;
  position: relative;
}
.footer_right p{
  margin: 1% 0;
}
.footer_right_box {
  display: flex;
  justify-content: flex-start;
}
.footer_right_box .footer_right_l {
  width: 50%;
  float: left;
}
.footer_right_box .footer_right_r {
  width: 50%;
  float: left;
}


.footer-copyright {
  position: relative;
  min-height: 5%;
  clear: left;
}
.footer-copyright .container {
  position: absolute;
  top: 25%;
  width: 100%;
  margin: 0;
  max-width: none;
}

.footer-copyright .container p{
  position: absolute;
  top: -5%;
  right: 0;
}
